<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-nav-list fxFlex="800px" fxFlex.lt-md="100%">
    <h3 mat-subheader>Workouts</h3>
    <mat-divider></mat-divider>
    <a mat-list-item *ngFor="let workout of workouts" [routerLink]="[workout._id]">
      <mat-icon mat-list-icon>fitness_center</mat-icon>
      <h4 mat-line>{{ workout.name }}</h4>
      <p mat-line>{{ workout.description }}</p>
      <!-- <button mat-icon-button (click)="editWorkout($event)">
          <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onRemove($event)">
          <mat-icon>delete</mat-icon>
      </button> -->
    </a>
  </mat-nav-list>
  <a mat-raised-button color="accent" [routerLink]="['create']" [state]="{ isCreateForm: true }">
    <mat-icon>add</mat-icon>
    <span> Create New Workout</span>
  </a>
</div>
<!-- <mat-icon>directions_run</mat-icon>
<mat-icon>directions_walk</mat-icon>
<mat-icon>transfer_within_a_station</mat-icon>
<mat-icon>fitness_center</mat-icon>
<mat-icon>emoji_people</mat-icon>
<mat-icon>sports</mat-icon>
<mat-icon>fast_forward</mat-icon>
<mat-icon>restore</mat-icon>
<mat-icon>history</mat-icon>
<mat-icon>offline_bolt</mat-icon>
<mat-icon>accessability</mat-icon>
<mat-icon>accessability_new</mat-icon>

<mat-icon>event_note</mat-icon>
<mat-icon>format_list_numbered</mat-icon>
<mat-icon>format_list_numbered_rtl</mat-icon>
<mat-icon>ballot</mat-icon>
<mat-icon>list</mat-icon>
<mat-icon>list_alt</mat-icon>
<mat-icon>playlist_play</mat-icon>
<mat-icon>assignment</mat-icon>
<mat-icon>list</mat-icon>
<mat-icon>receipt</mat-icon>
<mat-icon>subscriptions</mat-icon>
<mat-icon>slow_motion_video</mat-icon>
<mat-icon>dvr</mat-icon>
<mat-icon>format_indent_increase</mat-icon>
<mat-icon>format_list_bulleted</mat-icon>
<mat-icon>insert_invitation</mat-icon>
<mat-icon>flash_on</mat-icon>
<mat-icon>rotate_right</mat-icon>
<mat-icon>rotate_left</mat-icon>
<mat-icon>timelapse</mat-icon> -->

<!-- 
    directions_run 
    directions_walk
    transfer_within_a_station
    fitness_center
    emoji_people
    sports
    fast_forward
    restore
    history
    offline_bolt
    accessability
    accessability_new

    event_note
    format_list_numbered
    format_list_numbered_rtl
    ballot
    list_alt

    playlist_play
      _add
      _add_check
  -->
