extends layout
include mixins/navbar
block content
  //- if (!user)
  //-   p Welcome! Please <a href="/login">log in</a> or <a href="/register">register</a>.
  //- else 
  //-   p Hello, #{user.username} View your <a href="/profile">profile</a>
  +navbar(user)