mixin NavigationBar(user)
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') Fitness App
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
    
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='/about') About
            ul.navbar-nav.float-right
                if (!user)
                    li.nav-item
                        a.nav-link(href='/login') Login
                    li.nav-item
                        a.nav-link(href='/register') Register
                else
                    li.mr-7
                        = "Hello " + user.username + "!"
                    li.nav-item.mr-4
                        a.btn.btn-primary(role="button", href='/workouts') My Workouts
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Account
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/profile') View Profile
                            a.dropdown-item(href='/logout') Log Out