<p>
  exercise-list works!
</p>
<table mat-table [dataSource]="exercises">
  <!-- Exercise Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Exercise Title</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Exercise Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Exercise Set Column -->
  <ng-container matColumnDef="set">
    <th mat-header-cell *matHeaderCellDef>Set</th>
    <td mat-cell *matCellDef="let element">{{ element.set }}</td>
  </ng-container>

  <!-- Exercise Repeat Column -->
  <ng-container matColumnDef="repeat">
    <th mat-header-cell *matHeaderCellDef>Repeat</th>
    <td mat-cell *matCellDef="let element">{{ element.repeatCount + element.repeatType }}</td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="editExercise(element.id)">
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="deleteExercise(element.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <!-- [routerLink]="['details/', row._id]" -->
</table>
