<!-- <p>Hello</p>
<form [formGroup]="userFormModel"(ngSubmit)="onSubmit()">
    <div>Username: <input type="text" formControlName="username"></div>
    <div>Password: <input type="password"formControlName="password"></div>
   <button type="submit">Submit</button>
</form>

<a routerLink="/api/test" >Link</a> -->

<form class="form"[formGroup]="userFormModel" (ngSubmit)="onSubmit()">
    <mat-form-field class="form__field">
        <input matInput type="text" placeholder= "Username"formControlName="username">
        <mat-error *ngIf="userFormModel.controls['username'].hasError('required') && userFormModel.controls['username'].touched">
           This field is required 
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form__field">
        <input matInput type="password" placeholder="password" formControlName="password">
        <mat-error *ngIf="userFormModel.controls['password'].hasError('required') && userFormModel.controls['password'].touched">
                This field is required 
             </mat-error>
    </mat-form-field>
    <button class="form__submit" color="primary" mat-raised-button>{{type}}</button>
</form>
