include modals
mixin ExerciseList(exercises, workout_id)
    .card.p-4
        table.table-hover
            thead.text-muted
                tr
                    th(scope="col") Name
                    th(scope="col") Description
                    th(scope="col") Set
                    th(scope="col") Repeat
                    th.text-right(scope="col") Actions
            tbody
                each ex in exercises
                    tr
                        td(scope="row")
                            h5.title
                                = ex.name
                        td
                            p #{ex.description}
                        td
                            p #{ex.set}
                        td
                            p #{ex.repeat_count + " " + ex.repeat_type}
                        td.text-right
                            span.float-right
                                +EditExerciseBtn(workout_id, ex)
                                +DeleteExerciseBtn(workout_id, ex._id)
        +CreateExerciseBtn(workout_id)