include modals
mixin WorkoutsList(workouts, userid)
    .card
        .card-body
            ul.list-group
                each wp in workouts
                    li.list-group-item.d-flex.justify-content-between.align-items-center
                        a(href='workouts/' + wp.id)
                            h5 
                                = wp.name
                            p 
                                =  wp.description
                        span.float-right
                            +EditWorkoutBtn(wp)
                            +DeleteWorkoutBtn(wp.id)
        +CreateWorkoutBtn(userid)
        .card-footer Something
    
