include modals
mixin WorkoutsList(workouts, userid)
    .card.p-4
        table.table-hover
            thead.text-muted
                tr
                    th(scope="col") Workout Program
                    th.text-right(scope="col") Actions
            tbody
                each wp in workouts
                    tr
                        td
                            a(href='workouts/' + wp.id)
                                h5.title
                                    = wp.name
                            p 
                                =  wp.description
                        td.text-right
                            span
                                a.btn.btn-info.mr-2(role='button' href='workouts/' + wp.id)
                                    | Details
                                +EditWorkoutBtn(wp)
                                +DeleteWorkoutBtn(wp.id)
        +CreateWorkoutBtn(userid)
    
