include modals
mixin ExerciseList(exercises)
    ul.list-group
        each ex in exercises
            li.list-group-item.d-flex.justify-content-between.align-items-center
                h5 
                    = ex["name"]
                p 
                    =  ex["description"]
                span.float-right
                    +EditModalBtn(wp.id, "Exercise", wp)
                    +DeleteModalBtn(wp.id, "Exercise")
        +CreateModalBtn(userid)
        .card-footer Something