include modals
mixin WorkoutsList(workouts)
    .card
        .card-body
            ul.list-group
                each wp in workouts
                    a.list-group-item.d-flex.justify-content-between.align-items-center(href='workouts/' + wp["id"])
                        h5 
                            = wp["name"]
                        p 
                            =  wp["description"]
                        span.float-right
                            +EditModalBtn(wp.id, "Workout", wp)
                            +DeleteModalBtn(wp.id, "Workout")
        +CreateModalBtn(userid)
        .card-footer Something
    
