<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Fitness App</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/workouts'"> All Workouts </a>
      <a mat-button [routerLink]="'/login'"> Login </a>
      <a mat-button  (click)="onLogout()"> Logout </a>
      <a mat-button [routerLink]="'/profile'"> Profile </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

