<!-- <div style="height: 100vh;">
  
  <mat-toolbar color="primary">
  <mat-toolbar-row>
    x 
    <h1>Fitness App</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/workouts'"> All Workouts </a>
      <a *ngIf="isLoggedIn == false" mat-button [routerLink]="'/register'"> Register </a>
      <a *ngIf="isLoggedIn == false" mat-button [routerLink]="'/login'"> Login </a>
      <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="menu">Hello {{user.username}}!</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="isLoggedIn" class="displayBlock"[routerLink]="'/profile'"> Profile </button>
        <button mat-menu-item *ngIf="isLoggedIn" class="displayBlock" (click)="onLogout()"> Logout </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>
 -->

 <div style="height: 100vh;">
    <mat-toolbar color="primary">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <button mat-button [routerLink]="'/home'"> Fitness App </button>
        <span class="menu-spacer"></span>
  
      <div fxShow="true" fxHide.lt-md="true">
            <a mat-button [routerLink]="'/home'"> Home </a>
            <a mat-button [routerLink]="'/workouts'"> All Workouts </a>
            <a *ngIf="isLoggedIn == false" mat-button [routerLink]="'/register'"> Register </a>
            <a *ngIf="isLoggedIn == false" mat-button [routerLink]="'/login'"> Login </a>
            <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="menu">Hello {{user.username}}!</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="isLoggedIn" class="displayBlock"[routerLink]="'/profile'"> Profile </button>
              <button mat-menu-item *ngIf="isLoggedIn" class="displayBlock" (click)="onLogout()"> Logout </button>
            </mat-menu>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
            <button *ngIf="isLoggedIn == false" mat-button [routerLink]="'/register'"> Register </button>
            <button *ngIf="isLoggedIn == false" mat-button [routerLink]="'/login'"> Login </button>
            <button mat-button  *ngIf="isLoggedIn" class="displayBlock"[routerLink]="'/profile'"> Profile </button>
            <button mat-button *ngIf="isLoggedIn" class="displayBlock" (click)="onLogout()"> Logout </button>
            <button mat-button [routerLink]="'/workouts'"> All Workouts </button>
            <button mat-button [routerLink]="'/home'"> Home </button>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
          <fitapp-layout>
              <router-outlet></router-outlet>
            </fitapp-layout>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
